<nav>
    <div class="nav-wrapper" style="background-color: #55a89d;">
        <span style="margin-left: 65px;"><% if ( user ) { %><%= user.name %> <% } %></span>
        <ul id="nav-mobile" class="float-right" style="float: right;">
            <li><a href="/todo-list">Todo List</a></li>
            <li><a href="/shared-tasks">Shared Tasks</a></li>
            <% if ( isAuthenticated ) { %>
            <li><a href="/logout">Logout</a></li>
            <% } %>
            <% if ( !isAuthenticated ) { %>
            <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </div>
</nav>